/* Estilos por defecto (modo claro) */
body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}


/*Pantalla de carga */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading img {
    border-radius: 50%;
    width: 100px; /* Ajusta el tamaño según sea necesario */
    animation: scale 1.5s ease-in-out infinite;
}

@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
.header {
    width: 100%;
    height: 60px;
    background-color: #343a40;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 900;
}

.header h1 {
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    flex: 1;
}

.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding: 20px 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar-title {
    color: #ffffff;
    padding: 0 1rem;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    height: 2rem;
    width: auto;
}

.nav-section-title {
    color: #ffffff;
    padding: 0 1rem;
    margin-bottom: 10px;
    font-size: 16px;
}

.sidebar .nav-link {
    padding: 10px 20px;
    color: #ffffff;
    transition: background-color 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

#toggleSidebar {
    background-color: transparent;
    border: none;
    z-index: 1001;
}

.menu-icon {
    font-size: 24px;
    color: #ffffff;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    transition: margin-left 0.3s, width 0.3s;
    width: calc(100% - 200px);
}

.main-content.hidden {
    margin-left: 0;
    width: 100%;
}

#toggleTheme {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #212529;
    color: #ffffff;
}

.header.dark-mode {
    background-color: #343a40;
    color: #ffffff;
}

.sidebar.dark-mode {
    background-color: #212529;
}

.sidebar-title.dark-mode,
.nav-section-title.dark-mode,
.nav-link.dark-mode {
    color: #ffffff;
}

.sidebar .nav-link.dark-mode {
    color: #ffffff;
}

.sidebar .nav-link.dark-mode:hover {
    background-color: #495057;
}

#toggleTheme.dark-mode {
    color: #ffffff;
}

/* Asegurar que el texto sea legible en el modo oscuro */
.card, .card-body {
    background-color: #343a40;
    color: #ffffff;
}

.card .card-title, .card .card-text {
    color: #ffffff;
}

.dashboard-widgets {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

/* Estilos para el sidebar en dispositivos móviles */
@media (max-width: 768px) {
    .header h1 {
        font-size: .9rem;
        text-align: center;
    }
    
 
    
   
}
