/* Estilos por defecto (modo claro) */
body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}


/*Pantalla de carga */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading img {
    border-radius: 50%;
    width: 100px; /* Ajusta el tamaño según sea necesario */
    animation: scale 1.5s ease-in-out infinite;
}

@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
.header {
    width: 100%;
    height: 60px;
    background-color: #343a40;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 900;
}

.header h1 {
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    flex: 1;
}

.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding: 20px 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar-title {
    color: #ffffff;
    padding: 0 1rem;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    height: 2rem;
    width: auto;
}

.nav-section-title {
    color: #ffffff;
    padding: 0 1rem;
    margin-bottom: 10px;
    font-size: 16px;
}

.sidebar .nav-link {
    padding: 10px 20px;
    color: #ffffff;
    transition: background-color 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

#toggleSidebar {
    background-color: transparent;
    border: none;
    z-index: 1001;
}

.menu-icon {
    font-size: 24px;
    color: #ffffff;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    transition: margin-left 0.3s, width 0.3s;
    width: calc(100% - 200px);
}

.main-content.hidden {
    margin-left: 0;
    width: 100%;
}

#toggleTheme {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #212529;
    color: #ffffff;
}

/* Todos los encabezados (h1 a h6) en modo oscuro */
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
    color: #ffffff;
}


/* Las filas de las tablas en modo oscuro */
body.dark-mode tr {
    color: #ffffff;
}

.header.dark-mode {
    background-color: #343a40;
    color: #ffffff;
}
body.dark-mode table {
    background-color: #343a40;
    color: #ffffff;
}
.sidebar.dark-mode {
    background-color: #212529;
}

.sidebar-title.dark-mode,
.nav-section-title.dark-mode,
.nav-link.dark-mode {
    color: #ffffff;
}

.sidebar .nav-link.dark-mode {
    color: #ffffff;
}

.sidebar .nav-link.dark-mode:hover {
    background-color: #495057;
}

#toggleTheme.dark-mode {
    color: #ffffff;
}

/* Asegurar que el texto sea legible en el modo oscuro */
.card, .card-body {
    background-color: #343a40;
    color: #ffffff;
}
/* Estilo de la tabla con bordes redondeados */
.table-rounded {
    border-radius: 0.5rem; /* Redondeo de bordes */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

/* Estilo de las celdas de la tabla */
.table-rounded th,
.table-rounded td {
    border-top: none; /* Eliminar el borde superior para un mejor aspecto */
}

body.dark-mode textarea,
        body.dark-mode input[type="file"], 
        ,
        body.dark-mode .container, body.dark-mode .list-group{
            background-color: #495057; /* Fondo de los inputs en modo oscuro */
            color: #ffffff; /* Color de texto en inputs */
            border: 1px solid #6c757d; /* Borde oscuro */
        }

        body.dark-mode textarea::placeholder,
        body.dark-mode input[type="file"]::placeholder,
        body.dark-mode form {
            color: #adb5bd; /* Color de los placeholders */
        }

        body.dark-mode textarea:focus,
        body.dark-mode input[type="file"]:focus {
            border-color: #ffffff; /* Cambiar el color del borde al enfocar */
            outline: none; /* Quitar el contorno predeterminado */
        }

        body.dark-mode .btn-primary {
            background-color: #6200ea; /* Color de fondo del botón */
            border: none; /* Sin borde */
        }

        body.dark-mode .btn-primary:hover {
            background-color: #3700b3; /* Color de fondo al pasar el mouse */
        }
        body.dark-mode label {
            color: #000000; /* Color de los labels */
        }
.card .card-title, .card .card-text {
    color: #ffffff;
}


.dashboard-widgets {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

/* Estilos para el sidebar en dispositivos móviles */
@media (max-width: 768px) {
    .header h1 {
        font-size: .9rem;
        text-align: center;
    }
    
 
    
   
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

h1, h2 {
    color: #343a40;
}

.form-control {
    border: 2px solid #007bff;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

#bannerGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner-item {
    position: relative;
    margin: 10px;
}

.banner-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
